body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/Photos/back.jpg);
}


header {
    background-color: #333;
    padding: 10px;
}

.mobile{
    background-color: #333;
    padding: 10px;
}

.ListButtons {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ListButtons button {
    cursor: pointer;
}

.ListButtons li {
    margin-right: 15px;
}

.ListButtons li a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.ListButtons li a:hover {
    background-color: #777;
}


main {
    flex: 1;
    text-align: center;
    padding: 20px;
}

h1 img {
    width: 100px;
    vertical-align: middle;
}

.logo {
    text-align: left;
}

h1 {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 300px;
    padding: 20px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
}

.card img {
    width: 100%;
    height: 200px;
    border-radius: 10px;
}

.card p {
    font-size: 1rem;
    color: #666;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card:hover img {
    transform: scale(1.05);
}


.buttons-container {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.service-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #ffb6c1;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.service-button:hover {
    background-color: #ff7f99;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


body.dark-mode {
    background-color: #121212;
    color: #ffffff;
    background-image: none;
}

.dark-mode nav {
    background-color: #333;
}

.dark-mode .ListButtons a {
    color: #ffffff;
}

.dark-mode .service-button {
    background-color: #2c2c2c;
}


.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background-color: #f4f4f4;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    display: none; 
}

.sidebar-content {
    margin-top: 50px;
}

.sidebar.active {
    transform: translateX(0);
}

.sidebar-button {
    position: fixed;
    top: 10px;
    right: 260px;
    cursor: pointer;
    transition: right 0.3s ease;
    display: none; 
}

@media (max-width: 768px) {
    .card-container {
        flex-direction: column;
        align-items: center;
    }

    .ListButtons {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .sidebar {
        display: block;
    }
    
    .sidebar-button {
        display: block; 
    }
    header {
        display: none; 
    }
}
